<header class="navbar">

  <!-- LOGO -->
  <div class="logo">
    📘 EduPlataforma
  </div>

  <!-- MENU -->
  <nav class="menu">

    <a href="../index.html">
      Inicio
    </a>

    <a href="../pages/modules.html">
      Módulos
    </a>

    <a href="../pages/recursos.html">
      Recursos
    </a>

    <!-- BAJA AL PIE DE PAGINA -->
    <a href="#footer">
      Contacto
    </a>

  </nav>

  <!-- MENU MOVIL -->
  <button class="menu-btn" aria-label="Abrir menú">
    ☰
  </button>

  <!-- MODO OSCURO -->
  <button id="darkModeBtn" aria-label="Cambiar modo">
    🌙
  </button>

</header>
